.flex-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.input-group {
  display: flex;
  /* flex-direction: row; */
  border: 1px solid #ff0000;
  flex-wrap: wrap;
}

div.group {
  display: flex;
  /* flex: 0 1 50%; */
  /* flex-direction: column; */
  width: 100%;
  /* border: 1px solid blue; */
  /* justify-content: space-between; */
}

input {
  outline: none;
  border: none;
  padding: 0;
  padding-top: 2px;
}

div.input {
  display: flex;
  width: 50%;
  flex-direction: column;
  border: 2px solid lightgrey;
  box-shadow: inset 1px 1px 3px 2px #cccccc44;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

div.input:focus-within {
  border: 2px solid blueviolet;
  box-shadow:
    inset 0 0 3px 2px rgba(137, 43, 226, 0.2),
    0 0 3px 2px rgba(137, 43, 226, 0.2);
}

.splash img{
  display: relative;
  max-width: 100%;
  max-height: 100%;
}

div.splash {
  flex: 1 1 0;
  background-image: url("../images/snowy-caravan.png");
  background-position: center;
  background-size: cover;
}

main {
  flex: 2 1 0;
}

label {
  display: relative;
  user-select: none;
  cursor: text;
  width: 100%;
}

